{% extends "base.html" %}
{% load wagtailcore_tags static %}

{% block body_class %}template-<%= pagenamelower %>{% endblock %}

{% block content %}
    {%for p in page %}
    <p><a href="{% pageurl p %}">{{p}}</a></p>

    <div>
      {% if p.tags.all %}
            Tags: 
                {% for tag in p.tags.all %}
                    <a href="{% url '<%= pagenamelower %>_page:tag' tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
        {% endif %}

    </div>

    <div>
      {% if p.categories.all %}
        Posted in 
        {% for cat in p.categories.all %}
            <a href="{% url '<%= pagenamelower %>_page:category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
      

    </div>
    {%endfor%}
{% endblock %}